html {
  box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
  background: #eee;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 95vw;
  margin: 1em auto;
  padding: 1em;
  background: rgb(29, 29, 29);
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(68, 68, 68, 0.6);
}

h1 {
  font-family: Arial;
  color: white;
  text-align: center;
}

.movie-thumb {
  border: 5px solid rgb(45, 141, 61);
  background-color: rgb(29, 29, 29);
  list-style: none;
  float: left;
  width: 150px;
  min-height: 200px;
  margin: 2%;
  border-radius: 5px;
  transform: scale(1);
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

.movie-thumb:hover {
  transform: scale(1.2);
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

.selected {
  border: solid 10px rgb(23, 120, 165);
}

.fav-sidebar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 25vh;
  position: fixed;
  bottom: -50;
  left: 0;
}

.f-selected {
  width: 150px;
  min-height: 200px;
  background-color: rgb(71, 71, 71);
  border: solid 10px rgb(23, 120, 165);
  float: left;
  margin: 2%;
  list-style: none;
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

.movie1 {
  background-image: url("/img/movieposters/movieposter1.jpg");
  background-size: contain;
}
.movie2 {
  background-image: url("/img/movieposters/movieposter2.jpg");
  background-size: contain;
}
.movie3 {
  background-image: url("/img/movieposters/movieposter3.jpg");
  background-size: contain;
}
.movie4 {
  background-image: url("/img/movieposters/movieposter4.jpg");
  background-size: contain;
}
.movie5 {
  background-image: url("/img/movieposters/movieposter5.jpg");
  background-size: contain;
}
.movie6 {
  background-image: url("/img/movieposters/movieposter6.jpg");
  background-size: contain;
}
