// Sizes
$app-width: 40vw;
$app-height: auto;
$fontweight: 100;

//Colors
$dark-green: #1ec0a5;
$lime-green: #27eab5;
$dark-gray: #202124;
$blue-green: #a4ffec;
$bg-color: $dark-green;
$title-color: white;
$fontcolorwhite: white;

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100vw;
  text-align: center;
  margin: 20px;
}

.ftc-app {
  width: $app-width;
  height: $app-height;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-gap: 9px;
  font-weight: $fontweight;
}

h2 {
  font-weight: $fontweight;
}

.ftc-app > * {
  padding: 30px;
  text-align: center;
  background-color: $bg-color;
  color: $fontcolorwhite;
}

.fields {
  padding-top: 30px;
}
