* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.body-fixed {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.content-container {
  width: 90vw;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  ul {
    list-style-type: none;
    li {
      display: inline;
    }
  }
}

a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.separator {
  width: 225px;
  height: 5px;
  background-color: coral;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
}
.imagecontainer {
  object-fit: contain;
  margin-top: 50px;
}

.frontpage-image {
  max-width: 30vw;
  max-height: 80vh;
}

.more {
  font-size: 28px;
  font-weight: bold;
}
.portfolio {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
}

.portfolio-section {
  height: 100vh;
}
.portfolio-item {
  background-color: orangered;
  height: 20rem;
  width: 30%;
  min-width: 300px;
  margin: 1%;
  transform: scale(1);
  transition: 0.5s ease-out;
}

.portfolio-item:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in;
}
.section-title {
  display: flex;
  justify-content: center;
}

.flexcontainer {
  display: flex;
  justify-content: center;
}

.frontpage {
  height: 100vh;
}

.appear {
  transition: ease-in 2s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.okbye {
  transition: ease-in-out 2s;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.p1 {
  background-image: url(../img/1.jpeg);
  background-size: cover;
}
.p2 {
  background-image: url(../img/2.jpeg);
  background-size: cover;
}
.p3 {
  background-image: url(../img/3.jpeg);
  background-size: cover;
}
.p4 {
  background-image: url(../img/4.jpeg);
  background-size: cover;
}
.p5 {
  background-image: url(../img/5.jpeg);
  background-size: cover;
}
.p6 {
  background-image: url(../img/6.jpeg);
  background-size: cover;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}
.bio-title {
  width: 100%;
  text-align: center;
  margin: 2%;
}

.bio-text {
  width: 30%;
  text-align: justify;
}
